@import url(index.css);
@import url(lecturer_session.css);

body {
    background-color: #E3F2FD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdl-layout__header {
    margin-bottom: 32px;
}

.mdl-layout__title:link, .mdl-layout__title:visited, .mdl-layout__title:hover, .mdl-layout__title:active{
    color: white;
    text-decoration: none;
}

.mdl-cell .mdl-card {
    width: 100%;
    min-height: inherit;
}

.mdl-card__title {
    background-color: #E91E63;
    color: #fff;
}
