@import url(student_session.css);
@import url(lecturer_session.css);

body {
    background-color: #E3F2FD;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdl-layout__title:link, .mdl-layout__title:visited, .mdl-layout__title:hover, .mdl-layout__title:active{
    color: white;
    text-decoration: none;
}

main {
    padding: 32px 0;
}

.mdl-cell .mdl-card {
    width: 100%;
    min-height: inherit;
}

.mdl-card__title {
    transition: 0.25s;
    background-color: #2196F3;
    color: #fff;
}
