@import url(index.css);

body {
    background-color: #E3F2FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

#base_title:link, #base_title:visited, #base_title:hover, #base_title:active{
    color: white;
    text-decoration: none;
}

.mdl-cell .mdl-card {
    width: 100%;
}
