.table_row{
    padding: 0px !important;
    border: 0px;
}

.course_links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    height: 100%;
}

.course_links:link, .course_links:visited, .course_links:hover, .course_links:active {
    color: rgba(0, 0, 0, .54);
    text-decoration: none;
}

#table_courses{
    width: 100%;
    border: none;
    font-size: 1rem;
}

#card_add_course{
    margin-bottom: 16px;
}

#form_add_course{
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

#form_add_course .mdl-textfield{
    width: 65%;
}
