.feedback {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.feedback button {
    margin: 4px;
    width: calc(50% - 8px);
    height: 64px;
}

.question-ask {
    margin: 4px;
}

.question-ask .mdl-textfield {
    width: 100%;
}

.question-ask textarea {
    max-height: 312px;
}

.question-ask button {
    width: 100%;
}

.questions-log {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 8px;
    overflow-y: auto;
    max-height: 700px;
}

.questions-log ul {
    margin: 0;
}

.questions-log .mdl-list__item {
    padding: 8px;
}
