.feedback {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.feedback button {
    margin: 4px;
    width: calc(50% - 8px);
    height: 48px;
}

.question-ask {
    margin: 4px;
}

.question-ask .mdl-textfield {
    width: 100%;
}

.question-ask textarea {
    max-height: 200px;
}

.question-ask button {
    width: 100%;
}
