{% extends "base.html" %}
{% block title %} IRIS - login {% endblock title %}

{% block content %}
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--3-offset mdl-cell--2-offset-tablet">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 id="card_title" class="mdl-card__title-text">Lecturer login</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        <div class="flashes">
                            {% for category, message in messages %}
                                <h5 class="{{ category }}">{{ message }}</h5>
                            {% endfor %}
                        </div>
                    {% else %}
                        Please fill in your login information below
                    {% endif %}
                {%- endwith %}

                <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                    {{ login_user_form.hidden_tag() }}
                    <div class="mdl-textfield mdl-js-textfield">
                        <label class="mdl-textfield__label" for="{{ login_user_form.email.id }}">Email</label>
                        <input class="mdl-textfield__input" type="email" name="{{ login_user_form.email.name }}"
                               id="{{ login_user_form.email.id }}"/>
                        {% if login_user_form.email.errors %}
                            {% for error in login_user_form.email.errors %}
                                <span style="visibility: visible" class="mdl-textfield__error">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <label class="mdl-textfield__label" for="{{ login_user_form.password.id }}">Password</label>
                        <input class="mdl-textfield__input" type="password" name="{{ login_user_form.password.name }}"
                               id="{{ login_user_form.password.id }}"/>
                        {% if login_user_form.password.errors %}
                            {% for error in login_user_form.password.errors %}
                                <span style="visibility: visible" class="mdl-textfield__error">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               value="Log in"/>
                        <a class="mdl-navigation__link" href="{{ url_for('security.register') }}">Register user</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
