<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}
    {% endblock head %}
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <a class="mdl-layout__title" href="{{ url_for('index') }}">
                I.R.I.S. - Intelligent Real-time Information System
            </a>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                {% if current_user.is_authenticated %}
                    <a class="mdl-navigation__link" href="{{ url_for('security.logout') }}">Log out</a>
                {% else %}
                    <a class="mdl-navigation__link" href="{{ url_for('security.login') }}">Log in</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="mdl-grid">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
</div>

{% block scripts %}
{% endblock scripts %}
<script src="{{ url_for('static', filename='js/vendor/material.min.js') }}"></script>
</body>
</html>
