 {% extends "base.html" %}
 {% block title %} IRIS {% endblock title %}
 {% block head %}
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 85%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
 {% endblock head %}

 {% block content %}
    <form action="">
        <input title="Type text to save" type="text" id="m" autocomplete="off">
        <button>Send (save)</button>
    </form>
    <ul id="messages">
        {% for text in texts %}
        <li>{{ text.content }}</li>
        {% endfor %}
    </ul>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        var socket = io();
        $('form').submit(function(){
            var m_field = $('#m');
            console.log('Message submitted');
            socket.emit('my_event', m_field.val());
            m_field.val('');
            return false;
        });

        socket.on('brd_text', function (msg) {
            console.log(msg);
            $('#messages').append('<li>' + msg + '</li>');
        });
    </script>
 {% endblock content %}
