<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../static/css/vendor/material.min.css">
<link rel="stylesheet" href="../static/css/base.css">
<script defer src="../static/js/vendor/material.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>IRIS</title>
</head>
<body>
<main class="flex-container">
    <div class="mdl-card mdl-shadow--2dp splash-card">
        <div>
            <a href="{{ url_for('student') }}"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Student
            </a>
            <a href="{{ url_for('lecturer') }}"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Lecturer
            </a>
        </div>
    </div>
</main>
</body>
</html>
