{% extends "base.html" %}
{% block title %}IRIS - session{% endblock title %}

{% block content %}
    <div class="mdl-typography--text-center">
        <p>The lecturer may start and stop a feedback session</p>
        <button id="button_start" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Start
        </button>
        <button id="button_stop" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" disabled>
            Stop
        </button>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/lecturer_session.js') }}"></script>
{% endblock scripts %}