{% extends "base.html" %}

{% block title %}IRIS - {{ course_code }}{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturer_session.css') }}">
{% endblock %}

{% block content %}
    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h2 class="mdl-card__title-text">Lecture Controls</h2>
            </div>
            <div class="mdl-card__supporting-text">
                You may start and/or stop a feedback session using the buttons below!
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button id="button_start"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                    Start
                </button>
                <button id="button_stop"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Stop
                </button>
            </div>
            <div class="counts">
                <span id="text_slow" class="mdl-badge" data-badge="{{ counts['slow'] }}">Slow</span>
                <span id="text_fast" class="mdl-badge" data-badge="{{ counts['fast'] }}">Fast</span>
                <span id="text_easy" class="mdl-badge" data-badge="{{ counts['easy'] }}">Easy</span>
                <span id="text_hard" class="mdl-badge" data-badge="{{ counts['hard'] }}">Hard</span>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--2dp chart">
            <canvas id="speed"></canvas>
        </div>
        <div class="mdl-card mdl-shadow--2dp chart">
            <canvas id="difficulty"></canvas>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        {% with msg = 'Here are the questions asked by your students!' %}
            {% include 'question_log.html' %}
        {% endwith %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename="js/vendor/Chart.bundle.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/vendor/socket.io-1.4.5.js") }}"></script>
    <script src="{{ url_for('static', filename="js/vendor/jquery-3.1.1.min.js") }}"></script>
    <script>
      let courseID = {{ course_id }};
      let sessionActive = {{ active|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/lecturer_session.js') }}"></script>
{% endblock scripts %}
