{% extends "base.html" %}

{% block title %} IRIS - lecturer {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturer.css') }}">
{% endblock %}

{% block content %}
    <div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--4-col-phone mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h2 class="mdl-card__title-text">Your courses</h2>
            </div>
            <table id="table_courses" class="mdl-data-table mdl-js-data-table mdl-card__supporting-text">
                <tbody>
                {% for course in my_courses %}
                    <tr>
                        <td class="table_row mdl-data-table__cell--non-numeric">
                            <a class="course_links" href="{{ url_for('session_control', course=course.code) }}">
                                {{ course.code }} - {{ course.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--4-col-phone">
        <div id="card_add_course" class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h2 class="mdl-card__title-text">Add new course</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <form action="#" id="course-new">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="course-code" id="course-new-code"/>
                        <label class="mdl-textfield__label" for="course-new-code">Course code</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="course-name" id="course-new-name"/>
                        <label class="mdl-textfield__label" for="course-new-name">Course name</label>
                    </div>
                    <button type="submit"
                            class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect">
                        Add course
                    </button>
                </form>
            </div>
        </div>
        {#        <div class="mdl-card mdl-shadow--2dp">#}
        {#            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">#}
        {#                <h2 class="mdl-card__title-text">Add existing courses</h2>#}
        {#            </div>#}
        {#            <div class="mdl-card__supporting-text">#}
        {#                <div id="course-existing">#}
        {#                    <div class="mdl-textfield mdl-js-textfield">#}
        {#                        <input class="search mdl-textfield__input" type="text" id="course-search"/>#}
        {#                        <label class="mdl-textfield__label" for="course-search">Course code</label>#}
        {#                    </div>#}
        {#                    <button type="submit"#}
        {#                            class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect">#}
        {#                        Assign#}
        {#                    </button>#}
        {#                    <ul class="list mdl-list">#}
        {#                        {% for course in courses %}#}
        {#                            <li class="mdl-list__item">#}
        {#                                <a class="name mdl-list__item-primary-content" id="{{ course.code }}" href="#">#}
        {#                                    {{ course.code }} - {{ course.name }}#}
        {#                                </a>#}
        {#                            </li>#}
        {#                        {% endfor %}#}
        {#                    </ul>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename="js/vendor/socket.io-1.4.5.js") }}"></script>
    <script src="{{ url_for('static', filename="js/vendor/jquery-3.1.1.min.js") }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/list.min.js') }}"></script>
    <script src="{{ url_for('static', filename="js/lecturer.js") }}"></script>
{% endblock scripts %}
