<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../static/css/vendor/material.css">
<style type="text/css">
.wrapper {
    text-align: center;
    padding: 250px 0;
}

</style>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>IRIS</title>
</head>

<body>
    <div class = "wrapper">
        <!-- Colored raised button -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Student
        </button>
        <!-- Accent-colored raised button -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Lecturer
        </button>
    </div>
</body>
</html>